<h1><%= @doctor.name %></h1>

<h2>Appointments:</h2>
<% @appointments.each do |appointment| %>
  <p><%= link_to appointment.appointment_datetime.strftime('%B %d, %Y at %H:%M') %></p>
  <p><%= link_to appointment.patient.name, patient_path(appointment.patient) %></p>
<% end %>

